.container {
    margin-top: 4rem !important;
    padding: 44px !important;
    min-height: calc(100vh - 120px);
}

.navbar {
    margin: 11px 22px;
    padding: 11px 22px;
    border-radius: 22rem;

    .navbar-brand {
        transition: all .333s;

        &:hover {
            scale: 1.077;
            opacity: .88;
        }
    }
}