@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f1f1f1;
}

.rounded-full-right {
    border-radius: 0 99rem 99rem 0 !important;
}

.rounded-full-left {
    border-radius: 99rem 0 0 99rem !important;
}